/*****************************
 *     FRAMEWORKS STYLES     *
 * EVERY STYLE OF FRAMEWORKS *
 *****************************/
.lazy-framework{
	border: 10px solid $c-white;
}
/******************************
 *        SHADOW STYLE        *
 * STYLES FOR TYPE OF SHADOWS *
 ******************************/
 .lazy-shadow{
	box-shadow: 0 30px 20px -20px rgba($c-black, 0.25);
}