/**********
 * COLORS *
 **********/
 $c-white = #fff
 $c-black = #474747
 $c-broken = rgb(230, 230,230)
/*********
 * FONTS *
 *********/
 $f-regular = 'Lato Regular', sans-serif
 $f-black = 'Lato Black', sans-serif
 $f-bold = 'Lato Bold', sans-serif
 $f-awesome = 'Font Awesome 5 Free'